.my-document-viewer-wrapper .document-viewer {
    position: absolute; 
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    max-width: 600px;
    min-width: 320px;
    background: #ffffff;
    border: none;
    padding: 4px 25px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: fadeIn 0.3s ease-in-out;
    overflow: hidden; /* Prevent content overflow */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #555;
    cursor: pointer;
}

.close-button:hover {
    color: #000;
}

/* Fixed header for the title */
.fixed-header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
    padding: 10px 0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: #000000;
    border-bottom: 1px solid #dee2e6;
}

/* Scrollable content area */
.scrollable-content {
    max-height: calc(80vh - 120px); /* Adjust based on header height and padding */
    overflow-y: auto;
    padding-top: 10px;
}

.document-details, .document-description {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #444;
}

.document-details h3, .document-description h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #000000;
    font-weight: 600;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px; 
    margin-top: 15px;
    margin-bottom: 10px; /* Added margin-bottom for better spacing */
}

.button-group button {
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-group .btn-primary {
    background-color: #0776ec;
    color: white;
}

.button-group .btn-primary:hover {
background-color: #0056b3;
}

.document-links {
    margin-top: 10px;
    padding-left: 0;
    list-style-type: none;
}

.document-links li {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 5px 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.button-group button:last-child {
    background-color: #28a745;
    color: white;
}

.button-group button:last-child:hover {
    background-color: #218838;
}

.custom-document-links {
    max-width: 450px;
    margin: 0 auto; 
    padding: 0; 
    list-style-type: none; 
}
  
.custom-document-links li {
    background-color: #e9ecef;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
