body, html {
    height: 100%;
  }
  
  .login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; 
  }
  
  .login-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../public/Kiruna_homepage.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(2px); /* Apply slight blur effect */
    z-index: -1; 
  }
  
  
  .glassy-form-container {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(18px);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  }
  
  .login-title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  
  .alert-danger-custom {
    background-color: rgba(255, 0, 0, 0.5);
  }
  
  .form-control-custom {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 0;
    padding: 10px 0;
    background-color: transparent;
    color: #ffffff;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none !important; /* Remove on webkit browsers */
  }
  
  .form-control-custom::placeholder {
    color: rgba(255, 255, 255, 0.7);
    opacity: 1;
  }
  
  .submit-button {
    background-image: linear-gradient(to right, #1e9726 0%, #a5e243 51%, #1e9726 100%);
    background-size: 200% auto;
    border: none;
    font-size: 1.1rem;
    padding: 10px 0;
    font-weight: 700;
    text-align: center;
    border-radius: 30px;
    transition: 0.5s;
    color: white;
    width: 100%;
  }
  
  .submit-button:hover {
    background-position: right center;
  }
  .form-control-custom:focus {
    border-bottom: 1px solid rgba(255, 255, 255, 1); /* Slightly stronger border on focus */
    outline: none; /* Remove focus outline */
    background-color: transparent; /* Keep transparent */
    color: #ffffff !important;
  }
  
  /* Keep placeholder consistent even on focus */
  .form-control-custom:focus::placeholder {
    color: rgba(255, 255, 255, 0.7);
    opacity: 1;
  }
  
  input {
    all: unset; /* Resets all styles to remove default browser styling */
}

input.form-control-custom {
    all: unset; /* Ensure reset specifically on these inputs */
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    padding: 10px 0;
    color: #ffffff;
    background-color: transparent;
    width: 100%; /* Ensure input width is consistent */
    -webkit-appearance: none;
    appearance: none; /* Remove default browser appearance */
}


